<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>AngularJS ngRepeat sample</title>
    <link href="move.css" rel="stylesheet" type="text/css">
</head>
<body>
<div ng-controller="animationsCtrl">
    <h1>ngRepeat Animation</h1>
    <div>
        <div ng-repeat="item in items" class="repeatItem">
            {{item.name}}
        </div>
        <button ng-click="addItem()">Add item</button>
        <button ng-click="removeItem()">Remove
            item</button><button ng-click="sortItems()">
        Sort items</button>
    </div>
</div>
<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/angular-animate/angular-animate.js"></script>
<script src="move.js"></script>
</body>
</html>